{% extends 'voluntarios/base.html' %}
{% load static %}
{% block contenido %}

<div class="container">
    <div class="row">
        <form method="POST" action="#" id="formulario">
            {%csrf_token %}
            <div class="form-group">
                {{form.as_table}}
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-danger" id="modificar" value="Modificar">
                <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar">
            </div>
        </form>
    </div>
</div>
{%endblock contenido%}